<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css"/>
    {% block css_files %}{% endblock css_files %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Course App</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/urunler/list" class="nav-link">Ürünler</a>    
                </li>
                <li class="nav-item">
                    <a href="/urunler" class="nav-link">kategoriler</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">İletişim</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Hakkımızda</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="row">
            <div class="col3">
                {% block cards %}{% endblock cards %}
            </div>
            <div class="col9">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"></script>
</body>
</html>

{% block js_files %}{% endblock js_files %}