{% extends "layout.html" %}
{% block content %}


<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">
            <a href="" style="text-decoration:none;">Binek</a>
        </div>
        Binek otomobil yedek parçaları
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">
            <a href="" style="text-decoration:none;">Ağır Vasıta</a>
        </div>
        Binek otomobil yedek parçaları
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">
            <a href="" style="text-decoration:none;">Hafif Ticari Araçlar</a>
        </div>
        Binek otomobil yedek parçaları
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
  </ol>


{% comment %} 
    <div class="list-group">
        <a href="" class="list-group-item list-grup-item-action"></a>
        <a href="" class="list-group-item list-grup-item-action"></a>
        <a href="" class="list-group-item list-grup-item-action">Otobüs</a>
        <a href="" class="list-group-item list-grup-item-action">Traktör</a>
        <a href="" class="list-group-item list-grup-item-action">Treyler</a>
    </div> {% endcomment %}
{% endblock content %}

